
<div class="container">

  <p style="margin-top: 60px">users in database:</p> 
  <div class="table-title">
    <div class="row">
        <div class="col-sm-8"><h4>Users</h4></div>
        <div class="col-sm-4">
            <!-- <button type="button" (click)="registerUser(items)" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button> -->
            <!-- <button type="button" (click)="adduser(items)" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button> -->
        </div>
    </div>
</div>             

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>City</th>
        <th>State</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of myData, let i = index">
        <td>{{item.name}}</td>
        <td>{{item.email}}</td>
        <td>{{item.city}}</td>
        <td>{{item.state}}</td>
      </tr>
    </tbody>
  </table>
</div>
